/* body {
  text-align: center;
}
.header-icon {
  text-decoration: none;
}
header {
  background-color: orange;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header-icon {
  align-self: center;
  justify-self: center;
} */
body {
  margin: 0;
}
header {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. l c'
}
#header-icon {
  grid-area: l;
  text-align: center;
}
#register {
  grid-area: c;
  justify-self: center;
  align-self: center;
}