
body {
 margin: 0;
}
header {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'a b c'
}
.list-links {
  grid-area: a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

#header-icon {
  grid-area: b;
  text-align: center;
}

.sign-in-out-up {
  grid-area: c;
  justify-self: center;
  align-self: center;
}